{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "single"],
    "comma-dangle": [2, "never"],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "semi": [2, "always"],
    "no-undef": [2]
  },
  "plugins": []
}
